<style>
        #result_not_found {
            display: flex; 
            flex-direction: column;
            margin: auto;
        }

        #result_not_found a {
            width: 50%;
            text-align: center;
            margin: auto;
            text-decoration: none;
            font-size: 18px;
        }

        #result_not_found img {
            margin: auto;
        }
</style>

<div id="result_not_found">
    <img src="/imgs/result_not_found.jpg" alt="not found picture">
    <a href="/">Quay về trang chủ</a>
</div>