<div id="slider">
  <div class="slider_pre_next">
    <i class="fa fa-angle-left pre_next_icon"></i>
    <i class="fa fa-angle-right pre_next_icon"></i>
  </div>
  <ul class="slider_dots">
    <li class="slider_dots_icon cl_ccc" data-index="0">
      <i class="fa-solid fa-circle"></i>
    </li>
    <li class="slider_dots_icon" data-index="1">
      <i class="fa-solid fa-circle"></i>
    </li>
    <li class="slider_dots_icon" data-index="2">
      <i class="fa-solid fa-circle"></i>
    </li>
    <li class="slider_dots_icon" data-index="2">
      <i class="fa-solid fa-circle"></i>
    </li>
    <li class="slider_dots_icon" data-index="2">
      <i class="fa-solid fa-circle"></i>
    </li>
  </ul>
  <div class="slider_wrapper">
    <div class="slider_main d-flex">
      <div class="slider_item slider_1"></div>
      <div class="slider_item slider_2"></div>
      <div class="slider_item slider_3"></div>
      <div class="slider_item slider_4"></div>
      <div class="slider_item slider_5"></div>
    </div>
  </div>
</div>