<!-- List product -->
    <div class="main margin_header">
        <div class="filter">

        </div>
        <div class="container listProduct_container">
            
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: #fff;">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Library</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>
            <h2 class="list_name font-weight-bold">Mua bán, Thanh lý đồ dùng cho mẹ, đồ chơi cho bé tại Toàn quốc</h2>
            <div class="select_list_container">
                <div class="select_list_head d-flex justify-content-between align-items-center">
                    <ul class="select_list d-flex align-items-center text-center w-75">
                        <li class="w-100" ><a href="">Tất cả</a></li>
                        <li class="w-100"><a href="">Cá nhân</a></li>
                        <li class="w-100"><a href="">Bán chuyên</a></li>
                    </ul>
                    <div class="news_style w-25 d-flex justify-content-between align-items-center">
                        <ul class="w-75 ">
                            <li>
                                <p class="p-2 border-right border-left" style="cursor: pointer;">Tin mới trước <i class="fa-solid fa-sort-down float-right clearfix" style="margin: -2px 0;"></i></p>
                                <ul class="news_menu">
                                    <li><a href="">Tin mới trước 1</a></li>
                                    <li><a href="">Tin mới trước 1</a></li>
                                    <li><a href="">Tin mới trước 1</a></li>
                                    <li><a href="">Tin mới trước 1</a></li>
                                    <li><a href="">Tin mới trước 1</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                        <div class="style_list w-25 text-center"><i class="fa-solid fa-table-cells"></i></div>
                    </div>
                </div>
                <ul class="list_product" style="border-collapse: collapse;">
                    <li class=" border"><a href="" class="d-flex d-block">
                        <div class="product_left">
                            <img class="border-circle" src="https://cdn.chotot.com/VIKALbR_lQRlP_RYLJlewTQ0cumMWwizjZzk9opRQSA/preset:listing/plain/663bd5808db3273ecc5a9ef863b97410-2846927320022497068.webp" alt="">
                        </div>
                        <div class="product_right">
                            <div class="product_right_name">Máy tiệt trùng sấy khô sữa 5in 1</div>
                            <div class="product_cost m-y-8">150.000 đ</div>
                            <div class="product_information d-flex justify-content-between">
                                <div class="product_up d-flex w-50 justify-content-between">
                                    <div class="product_verify m-y-8"> <i class="fa-regular fa-ticket"></i> Bán chuyên</div>
                                    <div class="product_time_on m-y-8"><i class="fa-regular fa-clock"></i> 3 Phút trước </div>
                                    <div class="product_address m-y-8"> <i class="fa-solid fa-location-dot"></i> TP Hồ Chí Minh</div>
                                </div>
                                <div class="save"><i class="fa-regular fa-heart"></i></i></div>
                            </div>
                        </div>
                    </a></li>
                    <li class=" border"><a href="" class="d-flex d-block">
                        <div class="product_left">
                            <img class="border-circle" src="https://cdn.chotot.com/VIKALbR_lQRlP_RYLJlewTQ0cumMWwizjZzk9opRQSA/preset:listing/plain/663bd5808db3273ecc5a9ef863b97410-2846927320022497068.webp" alt="">
                        </div>
                        <div class="product_right">
                            <div class="product_right_name">Máy tiệt trùng sấy khô sữa 5in 1</div>
                            <div class="product_cost m-y-8">150.000 đ</div>
                            <div class="product_information d-flex justify-content-between">
                                <div class="product_up d-flex w-50 justify-content-between">
                                    <div class="product_verify m-y-8"> <i class="fa-regular fa-ticket"></i> Bán chuyên</div>
                                    <div class="product_time_on m-y-8"><i class="fa-regular fa-clock"></i> 3 Phút trước </div>
                                    <div class="product_address m-y-8"> <i class="fa-solid fa-location-dot"></i> TP Hồ Chí Minh</div>
                                </div>
                                <div class="save"><i class="fa-regular fa-heart"></i></div>
                            </div>
                        </div>
                    </a></li>
                    <li class=" border"><a href="" class="d-flex d-block">
                        <div class="product_left">
                            <img class="border-circle" src="https://cdn.chotot.com/VIKALbR_lQRlP_RYLJlewTQ0cumMWwizjZzk9opRQSA/preset:listing/plain/663bd5808db3273ecc5a9ef863b97410-2846927320022497068.webp" alt="">
                        </div>
                        <div class="product_right">
                            <div class="product_right_name">Máy tiệt trùng sấy khô sữa 5in 1</div>
                            <div class="product_cost m-y-8">150.000 đ</div>
                            <div class="product_information d-flex justify-content-between">
                                <div class="product_up d-flex w-50 justify-content-between">
                                    <div class="product_verify m-y-8"> <i class="fa-regular fa-ticket"></i> Bán chuyên</div>
                                    <div class="product_time_on m-y-8"><i class="fa-regular fa-clock"></i> 3 Phút trước </div>
                                    <div class="product_address m-y-8"> <i class="fa-solid fa-location-dot"></i> TP Hồ Chí Minh</div>
                                </div>
                                <div class="save"><i class="fa-regular fa-heart"></i></div>
                            </div>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>