{{!-- slider --}}
{{> slider}}

<!-- COntainer -->
    <div id="container">
      <div class="main">
        <!-- Danh mục -->
          <div class="category">
            <h2 class="category-header content_section_header font-weight-bold ">Khám phá danh mục</h2>
            <div class="category_container">
              <div class="section_items category-section d-flex flex-lg-wrap ">
                {{#each data.categoryData ~}}
                <a class="d-block  category-item col-2" href="/category={{category_id}}">
                    <div class="item_img category_item-img">
                      <img class="w-100" src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fstatic.chotot.com%2Fstorage%2Fchapy-pro%2Fnewcats%2Fv8%2F1000.png&w=256&q=95" alt="">
                    </div>
                    <div class="item_section_content">
                      <div class="item_name p-x-16 text-center">{{category_name}}</div>
                    </div>
                </a>
                {{~/each}} 
              </div>
            </div>
          </div>

        {{> productsListHome}}
        
          <!-- Xem thêm -->
          <div class="see_addition bg-ddd">
            <a href="" class="p-x-16 p-y-16 d-block text-center m-y-8 font-weight-bold">Xem thêm</a>
          </div>
      </div>
    </div>
    <!--  -->