<!-- SLider -->
    <div id="slider">
      <div class="slider_pre_next">
        <i class="fa fa-angle-left pre_next_icon"></i>
        <i class="fa fa-angle-right pre_next_icon"></i>
      </div>
      <ul class="slider_dots">
        <li class="slider_dots_icon cl_ccc" data-index="0">
          <i class="fa-solid fa-circle"></i>
        </li>
        <li class="slider_dots_icon" data-index="1">
          <i class="fa-solid fa-circle"></i>
        </li>
        <li class="slider_dots_icon" data-index="2">
          <i class="fa-solid fa-circle"></i>
        </li>
        <li class="slider_dots_icon" data-index="2">
          <i class="fa-solid fa-circle"></i>
        </li>
        <li class="slider_dots_icon" data-index="2">
          <i class="fa-solid fa-circle"></i>
        </li>
      </ul>
      <div class="slider_wrapper">
        <div class="slider_main d-flex">
          <div class="slider_item slider_1"></div>
          <div class="slider_item slider_2"></div>
          <div class="slider_item slider_3"></div>
          <div class="slider_item slider_4"></div>
          <div class="slider_item slider_5"></div>
        </div>
      </div>
    </div>
    <!-- COntainer -->
    <div id="container">
      <div class="main">
        <!-- Danh mục -->
          <div class="category">
            <h2 class="category-header content_section_header font-weight-bold ">Khám phá danh mục</h2>
            <div class="category_container">
              <div class="section_items category-section d-flex flex-lg-wrap ">
                <a class="d-block  category-item col-2" href="#">
                    <div class="item_img category_item-img">
                      <img class="w-100" src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fstatic.chotot.com%2Fstorage%2Fchapy-pro%2Fnewcats%2Fv8%2F1000.png&w=256&q=95" alt="">
                    </div>
                    <div class="item_section_content">
                      <div class="item_name p-x-16 text-center">Nhà trọ</div>
                    </div>
                </a>
                <a class="d-block  category-item col-2" href="#">
                    <div class="item_img category_item-img">
                      <img class="w-100" src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fstatic.chotot.com%2Fstorage%2Fchapy-pro%2Fnewcats%2Fv8%2F1000.png&w=256&q=95" alt="">
                    </div>
                    <div class="item_section_content">
                      <div class="item_name p-x-16 text-center">Xe cộ</div>
                    </div>
                </a>
                <a class="d-block  category-item col-2" href="#">
                    <div class="item_img category_item-img">
                      <img class="w-100" src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fstatic.chotot.com%2Fstorage%2Fchapy-pro%2Fnewcats%2Fv8%2F1000.png&w=256&q=95" alt="">
                    </div>
                    <div class="item_section_content">
                      <div class="item_name p-x-16 text-center">Đồ điện tử</div>
                    </div>
                </a>
                <a class="d-block  category-item col-2" href="#">
                    <div class="item_img category_item-img">
                      <img class="w-100" src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fstatic.chotot.com%2Fstorage%2Fchapy-pro%2Fnewcats%2Fv8%2F1000.png&w=256&q=95" alt="">
                    </div>
                    <div class="item_section_content">
                      <div class="item_name p-x-16 text-center">Đồ gia dụng</div>
                    </div>
                </a>
                <a class="d-block  category-item col-2" href="#">
                    <div class="item_img category_item-img">
                      <img class="w-100" src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fstatic.chotot.com%2Fstorage%2Fchapy-pro%2Fnewcats%2Fv8%2F1000.png&w=256&q=95" alt="">
                    </div>
                    <div class="item_section_content">
                      <div class="item_name p-x-16 text-center">Đồ trang trí</div>
                    </div>
                </a>
                <a class="d-block  category-item col-2" href="#">
                    <div class="item_img category_item-img">
                      <img class="w-100" src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fstatic.chotot.com%2Fstorage%2Fchapy-pro%2Fnewcats%2Fv8%2F1000.png&w=256&q=95" alt="">
                    </div>
                    <div class="item_section_content">
                      <div class="item_name p-x-16 text-center">Dụng cụ học tập</div>
                    </div>
                </a>

              </div>
            </div>
          </div>
        <!-- Tin mới  -->
          <div class="News_up">
            <h2 class="News_up-header content_section_header font-weight-bold ">Tin đăng mới</h2> 
            <div class="News_up_container m-yt-16">
              <div class="section_items news_up_section d-flex flex-lg-wrap ">
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
                <a class="d-block item item_news_up w-20 p-yt-16 bg-light" href="#" title="IU BÁC HL 2701DW PHUN CHỨC NĂNG HEN.IN KEN.FAX PHO">
                    <div class="item_img ">
                      <img class="w-100" src="https://cdn.chotot.com/xWDTQuY1txLyvwaN7l9oaZOQdcfW2vKZn74CNFbvmz4/preset:listing/plain/d5dc0d560e9916f0cffbd1c74062ee81-2839607212198559904.jpg" alt="">
                    </div>
                    <div class="item_section_content ">
                      <div class="item_content_header m-yb-16  d-flex justify-content-between">
                        <div class="item_name " title="">IU BÁC HL 2701DW PHUN CHỨC NĂNG</div>
                        <div class="item_add ">
                          <i class=" font-weight-bold fa-solid fa-ellipsis-vertical"></i>
                        </div>
                      </div>
                      <div class="item_content_main m-y-16">
                        <p class="item_cost m-y-8 font-weight-bold">300.000 đ</p>
                        <p class="item_timedate small m-y-8  "><span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 47 Giây Trước <span class="small"><i class="fa-solid fa-circle"></i></span> Cần Thơ</p>
                      </div>
                    </div>
                </a>
              </div>
            </div>
          </div>
          <!-- Xem thêm -->
          <div class="see_addition bg-ddd">
            <a href="" class="p-x-16 p-y-16 d-block text-center m-y-8 font-weight-bold">Xem thêm</a>
          </div>
      </div>
    </div>
    <!--  -->