 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
 {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
 <style>
    #dashboard {
        display: flex;
        width: 50%;
    }
 </style>

<div id="dashboard">
    <canvas id="myChart"></canvas>
    <canvas id="secondChart" height="200"></canvas>
    {{#each data.count ~}}
    <input type="hidden" name="con" value="{{this}}" class="con">
    <input type="hidden" name="het" value="{{this}}" class="het">
    {{~/each}}
</div>

<script>
    let myChart = document.getElementById('myChart').getContext('2d');
    let secondChart = document.getElementById('secondChart').getContext('2d');
    const con = document.querySelectorAll('.con')
    const het = document.querySelectorAll('.het')
    console.log(con[0].value, het[1].value)
    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Arial';
    Chart.defaults.global.defaultFontSize = '16';
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Sản phẩm đang bán', 'Sản phẩm đã bán'],
        datasets:[{
          label:'',
          data:[
            con[0].value,
            het[1].value,
            14
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Biểu đồ số lượng sản phẩm',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:100,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });

    let secondMassPopChart = new Chart(secondChart, {
      type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Sản phẩm đang bán', 'Sản phẩm đã bán'],
        datasets:[{
          label:'',
          data:[
            con[0].value,
            het[1].value,
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          //display:true,
          //text:'Biểu đồ số lượng sản phẩm',
          //fontSize:25
        },
        legend:{
          display:true,
          align: 'center',
          position:'left',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:20,
            right:100,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
  </script>

