
/* Slider */
#slider{
    height: var(--height_slider);
    margin-top: var(--height);
    width: var(--width_center);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: calc(var(--height-header) + 2px );
}

.pre_next_icon{
    position: absolute;
    top: 50%;
    font-size: 16px;
    padding: 20px 25px;
    background-color: var(--bgc-white);
    border-radius: 50%;
    color: var( --color_black);
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;

}
.slider_pre_next > .fa-angle-left{
    left: 0;
}
.slider_pre_next > .fa-angle-right{
    right: 0;
}
.pre_next_icon:hover{
    padding: 22px 27px;
    background-color: #f3ecec;
}
.slider_dots{
    /* background-color: #ccc; */
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider_dots li{
    display: inline-block;
}
.slider_dots_icon{
    color: var( --color_black);
    margin: 0 4px;
}

.slider_wrapper{
    overflow: hidden;
}
.slider_main{    
    transition: transform 0.25s linear;
}
.slider_item{
    padding-top: 50%;
    width: 100%;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    aspect-ratio: 3/2;
    background-size:contain ;
}

.slider_1{
    background-image: url("https://cdn.chotot.com/admincentre/zn4pnENC6338xiCSOTCelj80qRlo6o_IlM0ckoEk2tM/preset:raw/plain/131246fab089b93697f4c9b04701c81b-2842184845821107881.jpg");
    
}
.slider_2{
    background-image: url("https://cdn.chotot.com/admincentre/-nTb7IxAFqNV3z8Uc61Zb4IIXZYdozIuZLlZ9bcOayg/preset:raw/plain/e877054f56e9154369b0d11599b3df2e-2846835257025921306.jpg");
}
.slider_3{
    background-image: url("https://cdn.chotot.com/admincentre/io-GtFL8wLcKnU7X6yMrfXk00RLrLoBJYUlut8shtyQ/preset:raw/plain/96bcfe1cc4669461c77550934d16ec3b-2840707957964015892.jpg");
}
.slider_4{
    background-image: url("https://cdn.chotot.com/admincentre/io-GtFL8wLcKnU7X6yMrfXk00RLrLoBJYUlut8shtyQ/preset:raw/plain/96bcfe1cc4669461c77550934d16ec3b-2840707957964015892.jpg");
}
.slider_5{
    background-image: url("https://cdn.chotot.com/admincentre/io-GtFL8wLcKnU7X6yMrfXk00RLrLoBJYUlut8shtyQ/preset:raw/plain/96bcfe1cc4669461c77550934d16ec3b-2840707957964015892.jpg");
}
.cl_ccc{
    color: #ccc;
}
/* COntainer */
#container{
    width: var(--width_center);
    margin: 0 auto;
}
.main{

}
.category{
    
}
.category_container{
    overflow: hidden;
    max-height: calc(var(--height_category_item ) * 2 + 54px );
}
.content_section_header{
    font-size: 16px;
    margin: 16px 4px 8px;
}
.category-section{
    
}
.section_items .item{
    padding: 0 20px;
    z-index: 1;
}
.category-item{
    height: var(--height_category_item);
    margin: 6px 0;
    padding: 8px 32px;
}
.item-img{
    padding: 5px;
}
.category_item-img img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.item_section_content{
    padding: 10px 0;
}
.item_name{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* padding: 0 16px; */
}
.News_up_container{
    max-height: 1594px;
    overflow: hidden;
}
.news_up_section{
    border-top: 1px solid rgb(244, 244, 244);
}
.item_news_up{
    border: 1px solid rgb(244, 244, 244);
}
a.item_news_up:hover{
    background-color: #fff !important;
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.3);
    z-index: 10;
}

.item_news_up > .item_img{
    padding: 0 16px;
}
.item_add{

}
.item_content_main{
}
.item_cost{
    color: var(--color_cost);
}
.item_timedate{
    opacity: 0.55;
}
/* Xem thêm */
.see_addition:hover a{
    background-color: #88c6e2;
    opacity: 0.85;
    color: #161515;
}